<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
          <img src="/public/images/amrita_logo_gray_white.png"></img>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">O nás</a>

      <a class="sidebar-nav-item{% if page.url == site.urls.events %} active{% endif %}" href="{{ site.urls.events }}">Akce</a>

      <a class="sidebar-nav-item{% if page.url == site.urls.staying %} active{% endif %}" href="{{ site.urls.staying }}">Pobývání</a>

      <a class="sidebar-nav-item{% if page.url == site.urls.people %} active{% endif %}" href="{{ site.urls.people }}">Lidé</a>

      <a class="sidebar-nav-item{% if page.url == site.urls.gallery %} active{% endif %}" href="{{ site.urls.gallery }}">Galerie</a>
<!--
      <a class="sidebar-nav-item{% if page.url == site.blog.url %} active{% endif %}" href="{{ site.blog.url }}">Blog</a> -->

      <a class="sidebar-nav-item{% if page.url == site.urls.contact %} active{% endif %}" href="{{ site.urls.contact }}">Kontakt</a>

</nav>
      <!-- <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
     -->
<!--
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p> -->


    <div class="sidebar-sticky">
      <small>
        Stránky jsou ve výstavbě - jako chalupa=) </tiny>
      </small>
    </div>
  </div>


</div>
