<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">O nás</a>

      <a class="sidebar-nav-item{% if page.url == site.urls.events %} active{% endif %}" href="{{ site.urls.events }}">Akce</a>
<!-- 
      <a class="sidebar-nav-item{% if page.url == site.urls.people %} active{% endif %}" href="{{ site.urls.people }}">Lidé</a> -->

      <a class="sidebar-nav-item{% if page.url == site.urls.gallery %} active{% endif %}" href="{{ site.urls.gallery }}">Galerie</a>
<!--
      <a class="sidebar-nav-item{% if page.url == site.blog.url %} active{% endif %}" href="{{ site.blog.url }}">Blog</a> -->

      <a class="sidebar-nav-item{% if page.url == site.urls.contact %} active{% endif %}" href="{{ site.urls.contact }}">Kontakt</a>

      <!-- <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav> -->
<!--
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p> -->
  </div>
</div>
